@import url('card-flex.css');
@import url('avatar.css');
@import url('footer.css');


.html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 10px;

}

header {
    background-color: blue;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline-block;
}

nav a {
    color:blue;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
}


.card-container-flex {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .card {
        min-width: 100%;
    }
}

h6 {
    color:springgreen;
}


/* Author Info */


.center {
    display: flex;
    place-items: center;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

