body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline-block;
}

nav a {
    color:blue;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
}

.card-container-flex {
    display: flex;
    flex-wrap: wrap;
}

.card-flex {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    min-width: 300px;
    text-align: center;
    
}

@media (max-width: 768px) {
    .card {
        min-width: 100%;
    }
}

h6 {
    color: hotpink;
}