@import url('card-flex.css');
@import url('avatar.css');
@import url('footer.css');


.html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 10px;

}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display:inline-block;
}

nav a {
    color:blue;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
}


.card-container-flex {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .card {
        min-width: 100%;
    }
}

h6 {
    color:springgreen;
}


/* Author Info */


.center {
    display: flex;
    place-items: center;
}

.pages {
    text-align: right;
    color: white;
    bottom: 0;
}

/* ||BLOG POST*/


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

/* || HOMEPAGE*/

img {
    max-width: 100%;
    height: auto;
}  

@media (max-width: 480px) {
    img {
    max-width: 50%;
    }
}


/* || FOOTER */
.footer h6 {
    font-size: 15px;
    margin-bottom: 12px;
    text-transform: uppercase;
    margin-top: 0;
    color: #fff;
}

footer .social {
        display: grid;
        font-size: 20px;
        text-align: left;
        border-radius: 50%;
        color: #fff;
}

footer .social a {
    color: #fff;
}

.copyright {
    text-align: right;
    text-decoration: none;
    font-size: 15px;
}













